<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>书籍查询</title>
    <link rel="stylesheet" type="text/css" href="/css/jquery.pagination.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ckform.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/jquery.pagination.min.js"></script>
    <script>

        function getLimit() {
            return $("#limit").val();
        }

        function setLimit() {
            location.href = "/user/book/list?current=1&limit=" + getLimit()
        }

        $(function () {
            var keyword = $("#username").val()
            var sid = $("#sid").val()
            var cp = parseInt($("#curPage").val());
            var tp = parseInt($("#tolPage").val());
            $("#pagination2").pagination({
                currentPage: cp,
                totalPage: tp,
                isShow: false,
                count: 5,
                prevPageText: "< 上一页",
                nextPageText: "下一页 >",
                callback: function (current) {
                    var url = '/user/book/list?current=' + current + '&limit=' + getLimit();
                    if (keyword != null) {
                        url = url + "&keyword=" + keyword;
                    }
                    if (sid !== 0) {
                        url = url + "&sid=" + sid;
                    }
                    location.href = url;
                }
            });
        });
    </script>
</head>
<body>
<form id="form" class="form-inline definewidth m20"
      action="/user/book/search" method="post">
    书籍关键字： <input type="text" name="keyword" id="username"
                       class="abc input-default"
                       th:value="${keyword!=null?keyword:''}" placeholder="书籍关键字">&nbsp;&nbsp;
    <input type="hidden" value="1" name="current"/>
    书籍类别:<select class="form-control" name="sid" id="sid">
    <option value="0">---请选择类别---</option>
    <option th:each="sort:${sorts}" th:text="${sort.name}" th:value="${sort.id}"
            th:selected="${sid_!=null and sid_==sort.id}"></option>
</select>&nbsp;&nbsp;
    分页：<select id="limit" class="position-absolute rt-2" onchange="setLimit()">
    <option value="4" th:selected="${page.limit==4}">4</option>
    <option value="6" th:selected="${page.limit==6}">6</option>
    <option value="8" th:selected="${page.limit==8}">8</option>
</select>
    <button type="submit" class="btn btn-primary">查询</button>
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>书籍名称</th>
        <th>书籍类别</th>
        <th>作者</th>
        <th>出版社</th>
        <th>版本</th>
        <th>数量</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr th:each="book:${books}">
        <td th:text="${book.id}" style="display: none"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.sid}" class="sid"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publish}"></td>
        <td th:text="${book.edition}"></td>
        <td th:text="${book.number}"></td>
        <td><a type="button" class="btn btn-success borrow">借阅</a>
        </td>
    </tr>
</table>
<input th:value="${page.current}" type="hidden" id="curPage"/>
<input th:value="${page.total}" type="hidden" id="tolPage"/>
<center>
    <div class="box">
        <div id="pagination2" class="page fl"></div>
    </div>
</center>
<script>
    $(".borrow").click(
        function () {
            let line = $(this).parent().parent().children()
            let id = line.eq(0).text();
            $.post(
                "/user/book/borrow/",
                {"bid": id},
                function (data) {
                    if (data === 0) {
                        location.href = "/user/book/list"
                        alert("成功")
                    } else {
                        alert(data)
                    }

                }
            )
        }
    )

</script>
<script type="text/javascript" src="/js/sid.js"></script>

</body>

</html>