<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.lib.dao.BookMapper">
    <sql id="field">id,name,sid,number,author,publish,edition</sql>
    <sql id="insert">name,sid,number,author,publish,edition</sql>
    <insert id="insertBook">
        insert into book(<include refid="insert"/>)
        values (#{name}, #{sid},#{number},#{author},#{publish},#{edition})
    </insert>
    <update id="updateBookNumber">
        update book
        set number=#{number}
        where id = #{id}
    </update>
    <update id="updateBook">
        update book
        set name=#{name},
            sid=#{sid},
            number=#{number},
            author=#{author},
            publish=#{publish},
            edition=#{edition}
        where id = #{id}
    </update>
    <delete id="deleteBook">
        delete
        from book
        where id = #{id}
    </delete>

    <select id="selectBook" resultType="com.lib.pojo.Book">
        select <include refid="field"></include> from book limit #{offset},#{limit} ;
    </select>
    <select id="selectBookBySomething" resultType="com.lib.pojo.Book">
        select
        <include refid="field"/>
        from book
        where number>0
        <if test="keyword != null and keyword!=''">
            and (name like "%"#{keyword}"%"
            or author like "%"#{keyword}"%"
            or publish like "%"#{keyword}"%")
        </if>
        <if test="sid!=0">
            and sid =#{sid}
        </if>
        <if test="limit!=0">limit #{offset},#{limit}</if>
    </select>
    <select id="selectRows" resultType="java.lang.Integer">
        select count(id)
        from book;
    </select>
    <select id="selectAllSort" resultType="com.lib.pojo.Sort">
        select *
        from sort;
    </select>
    <select id="selectRowsByCondition" resultType="java.lang.Integer">
        select count(*) from book
        where number>0
        <if test="keyword != null and keyword!=''">
            and (name like "%"#{keyword}"%"
            or author like "%"#{keyword}"%"
            or publish like "%"#{keyword}"%")
        </if>
        <if test="sid!=0">
            and sid =#{sid}
        </if>
    </select>
    <select id="selectBookById" resultType="com.lib.pojo.Book">
        select
        <include refid="field"/>
        from book where id=#{id}
    </select>
</mapper>