<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.lib.dao.SysAdminMapper">
    <sql id="field">
        id,username,password
    </sql>
    <select id="selectSysByUsername" resultType="com.lib.pojo.SysAdmin">
        select <include refid="field"></include> from sysadmin
        where username=#{username}
    </select>
    <select id="selectSysById" resultType="com.lib.pojo.SysAdmin">
        select <include refid="field"></include> from sysadmin
        where id=#{id}
    </select>
</mapper>