<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--填写要引用的包名+类名-->
<mapper namespace="com.lib.dao.UserMapper">

    <sql id="selectField">
        id,username,password
    </sql>
    <insert id="insertUser">
        insert into user(username, password)
        values (#{username}, #{password})
    </insert>
    <update id="updateUser">
        update user
        set username=#{username},
            password=#{password}
        where id = #{id}
    </update>
    <delete id="deleteUser">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectUserByUsername" resultType="com.lib.pojo.User">
        select
        <include refid="selectField"/>
        from user
        where username=#{username}
    </select>
    <select id="selectUserById" resultType="com.lib.pojo.User">
        select
        <include refid="selectField"/>
        from user
        where id=#{id}
    </select>
    <select id="selectAllUser" resultType="com.lib.pojo.User">
        select
        <include refid="selectField"/>
        from user
    </select>
</mapper>